// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$white:         #fff;
$black:         #000;
$bg:            #f2f3f4;
$green:         #80ab3f;
$red:           #d91f26;
$blue:          #3fc4f2;
$pink:          #ed1761;
$lime:          #8dc643;
$sea:           #067897;
$orange:        #f37125;
$gray:          #6e6f73;
$dark:          #221f1f;
$transparent:   transparent;
$colors : (red, blue, green);
