// ==========================================================================
// $FONT-FACE
// ==========================================================================


@if variable-exists(google-fonts-url) {
  @import url($google-fonts-url);
}

@if variable-exists(typefaces1) {
  @each $file, $option in $typefaces1 {
    @font-face {
      font-family: map-get(map-get($typefaces1, $file), family);
      font-style: map-get(map-get($typefaces1, $file), style);
      font-weight: map-get(map-get($typefaces1, $file), weight);
      src: url('../fonts/#{$file}.eot');
      src:  url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/#{$file}.woff2') format('woff2'),
		    url('../fonts/#{$file}.woff') format('woff'),
		    url('../fonts/#{$file}.ttf') format('truetype'),
		    url('../fonts/#{$file}.svg##{$file}') format('svg');
    }
  }
}
@if variable-exists(typefaces2) {
  @each $file, $option in $typefaces2 {
    @font-face {
      font-family: map-get(map-get($typefaces2, $file), family);
      font-style: map-get(map-get($typefaces2, $file), style);
      font-weight: map-get(map-get($typefaces2, $file), weight);
      src: url('../fonts/#{$file}.eot');
      src:  url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/#{$file}.woff2') format('woff2'),
		    url('../fonts/#{$file}.woff') format('woff'),
		    url('../fonts/#{$file}.ttf') format('truetype'),
		    url('../fonts/#{$file}.svg##{$file}') format('svg');
    }
  }
}
@if variable-exists(typefaces3) {
  @each $file, $option in $typefaces3 {
    @font-face {
      font-family: map-get(map-get($typefaces3, $file), family);
      font-style: map-get(map-get($typefaces3, $file), style);
      font-weight: map-get(map-get($typefaces3, $file), weight);
      src: url('../fonts/#{$file}.eot');
      src:  url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/#{$file}.woff2') format('woff2'),
		    url('../fonts/#{$file}.woff') format('woff'),
		    url('../fonts/#{$file}.ttf') format('truetype'),
		    url('../fonts/#{$file}.svg##{$file}') format('svg');
    }
  }
}
@if variable-exists(typefaces4) {
  @each $file, $option in $typefaces4 {
    @font-face {
      font-family: map-get(map-get($typefaces4, $file), family);
      font-style: map-get(map-get($typefaces4, $file), style);
      font-weight: map-get(map-get($typefaces4, $file), weight);
      src: url('../fonts/#{$file}.eot');
      src:  url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		    url('../fonts/#{$file}.woff2') format('woff2'),
		    url('../fonts/#{$file}.woff') format('woff'),
		    url('../fonts/#{$file}.ttf') format('truetype'),
		    url('../fonts/#{$file}.svg##{$file}') format('svg');
    }
  }
}
