$helveCond  : 'HelveticaNeueLTPro-Cond';
$helve      : 'HelveticaNeueLTPro';
$myriad     : 'MyriadPro-Reg';

body {
    background-color: $white;
    font-family: $helveCond;
    color: $dark;
}
a {
    &:hover {
        text-decoration: none;
    }
}
.objectfit {
    &-container {
        &-cover {
            img {
                object-fit: cover;
            }
        }
        &-contain {
            img {
                object-fit: contain;
            }
        }
    }
    &-cover {
        background-size: cover;
        background-position: center center;
        img.objectfit-img {
            opacity: 0;
        }
    }
    &-contain {
        background-size: contain;
        background-position: center center;
        img.objectfit-img {
            opacity: 0;
        }
    }
    &-img {
        width: 100%;
        height: 100%;
        object-position: center;
    }
}
.white {background-color: $white;}
.transparent {background-color: $transparent;@include boxshadow(none !important);}
.dark {background-color: $dark;}
.pink {background-color: $pink;}
.lime {background-color: $lime;}
.sea {background-color: $sea;}
.red {background-color: $red;}
.blue {background-color: $blue;}
.orange {background-color: $orange;}
.gray {background-color: $gray;}
.sea-text {color: $sea;}
.pin {
    &-img {
        border-radius: 4px;
        overflow: hidden;
    }
    &-body {
        .btn-3 {
            margin-top: 30px;
        }
    }
}
.remodal {
    width: 100%;
    max-width: inherit;
    background: $transparent;
    &[data-remodal-id="modal"] {
        width: 590px;
        padding: 30px 20px;
    }
    &-split {
        @include flex;
        width: 748px !important;
        @include justify-content(space-between);
        @include align-items(flex-start);
        flex-wrap: wrap;
        padding: 0 !important;
        &-box {
            flex-basis: 50%;
            align-self: stretch;
            padding: 30px;
        }
        &-full {
            flex-basis: 100%;
            border-bottom: 1px solid #ddd;
            padding: 20px 30px;
            h3 {
                margin: 0;
            }
        }
    }
    &-close {
        left: inherit;
        right: 10px;
        top: 10px;
    }
    &-overlay {
        background-color: rgba($white, 0.85);
    }
    &-wrapper {
        padding: 0;
        &:after {
            vertical-align: top;
        }
    }
    &-login {
        &-sosmed {
            padding: 0px 0 10px;
            margin-top: 20px;
            &-caption {
                font-family: $helve;
                font-size: 14px;
                font-weight: bold;
                color: #808080;
                margin-bottom: 15px;
            }
            &-alternative {
                margin-top: 15px;
                font-family: $myriad;
                color: #808080;
                font-size: 12px;
                a {
                    font-family: $helve;
                    color: #808080;
                    &:hover {
                        color: $black;
                    }
                }
            }
            ul {
                @include reset-list;
                @include flex;
                @include justify-content(center);
                @include align-items(center);
                li + li {
                    margin-left: 20px;
                }
            }
            .btn-3 {
                width: 42px;
                height: 42px;
                padding: 0;
                display: block;
                border-radius: 50%;
                border-color: #989898;
                color: #989898;
                font-size: 22px;
                i[class^="maw-"] {
                    position: relative;
                    top: 3px;
                }
                &:hover {
                    @include boxshadow(0 3px 15px rgba(0, 0, 0, 0.25));
                }
            }
        }
    }
    &-box {
        width: 400px;
        margin: auto;
        background: $white;
        position: relative;
        padding: 30px;
        border-radius: 5px;
        text-align: left;
        @include boxshadow(0 3px 10px rgba($black, 0.2));
        &-zoom {
            border-radius: 0;
            width: 100%;
            padding: 0 20px;
        }
        &-header {
            padding: 15px 0px;
            &-btn {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    height: 0;
                    clear: both;
                }
                & > li {
                    float: left;
                    &:last-child {
                        float: right;
                    }
                    & + li {
                        padding-left: 5px;
                    }
                }
                @include reset-list;
            }
        }
        &-img {
            border-radius: 5px;
            overflow: hidden;
        }
        &-detail {
            padding: 20px 0;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
            color: #4d4d4d;
            &-left {
                width: 100%;
                p {
                    color: #4d4d4d;
                    font-family: $myriad;
                    font-size: 14px;
                    margin-bottom: 0;
                    line-height: 16px;
                    strong {
                        font-family: $helve;
                    }
                    a {
                        color: #4d4d4d;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &-right {
                & > ul {
                    justify-content: flex-end;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    & > li {
                        padding-left: 10px;
                        a {
                            white-space: nowrap;
                            font-size: 10px;
                            color: #4d4d4d;
                        }
                    }
                    @include flex;
                    @include reset-list;
                }
            }
            @include flex;
        }
        &-comment {
            & > span {
                font-family: $myriad;
                font-size: 14px;
                color: #4d4d4d;
                line-height: 16px;
            }
            &-list {
                padding-top: 10px;
                padding-bottom: 15px;
                &-item.media {
                    margin-top: 0;
                    & > .media-left {
                        & a {
                            display: block;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            & img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    & > .media-body {
                        & > h4.media-heading {
                            font-family: $helve;
                            font-size: 12px;
                            color: #4d4d4d;
                            margin-top: 0;
                            margin-bottom: 0px;
                            & a {
                                color: #4d4d4d;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        & > .media-content {
                            font-family: $myriad;
                            font-size: 12px;
                            color: #4d4d4d;
                            line-height: 16px;
                            display: block;
                        }
                    }
                }
                & > .media + .media {
                    border-top: 1px solid #d7d7d7;
                    padding-top: 15px;
                    margin-top: 10px;
                }
            }
            &-form {
                padding-bottom: 20px;
                .form-comment {
                    input.form-control {
                        background-color: #d7d7d7;
                        border-color: #d7d7d7;
                        color: #4d4d4d;
                        font-size: 12px;
                        font-family: $myriad;
                        height: 30px;
                        &:focus {
                            background-color: $white;
                            @include boxshadow(none);
                        }
                        @include boxshadow(none);
                        @include placeholder {
                            color: #4d4d4d;
                            font-size: 12px;
                            font-family: $myriad;
                        }
                    }
                }
            }
        }
    }
    &-header {
        img {
            height: 51px;
            margin-bottom: 30px;
        }
        h3 {
            margin: 0 0 5px;
            font-size: 28px;
            font-weight: bold;
            color: $black;
            font-family: $helve;
        }
        p {
            font-family: $helve;
            font-weight: bold;
            color: #989898;
            margin-bottom: 30px;
            font-size: 14px;
            a {
                color: $red;
                text-decoration: underline;
            }
        }
    }
    &-body {
        padding: 0 30px;
    }
    &-form {
        .form-control {
            height: 37px;
            border-radius: 20px;
            border-color: #989898;
            padding: 6px 20px;
            @include boxshadow(none !important);
            @include placeholder {
                font-family: $helve;
                color: #808080;
                font-size: 14px;
            };
        }
        .btn-login {
            height: 37px;
            border-radius: 20px;
            background-color: $black;
            color: $white;
            font-family: $helve;
            font-size: 14px;
            outline: none !important;
        }
        p {
            color: #808080;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 14px;
            font-family: $myriad;
            font-weight: normal;
            a {
                color: #808080;
                font-family: $helve;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    &-tab {
        @include reset-list;
        @include flex;
        @include justify-content(space-between);
        @include align-items(center);
        margin: -21px -30px 20px;
        li {
            flex-basis: 50%;
            position: relative;
            a {
                display: block;
                color: #888;
                font-weight: 500;
                height: 42px;
                font-size: 12px;
                line-height: 42px;
                background-color: #ddd;
                text-align: center;
                text-transform: uppercase;
                @include transition(all .3s);
                &:hover {
                    color: #231f20;
                    .fa {
                        color: $red;
                    }
                }
                &:hover, &:focus {
                    text-decoration: none;
                }
                .fa {
                    margin-right: 5px;
                }
            }
            &.active {
                &:before {
                    content: '';
                    position: absolute;
                    border-top: 9px solid #231f20;
                    border-left: 8px solid $transparent;
                    border-right: 8px solid $transparent;
                    bottom: -9px;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
                a {
                    background-color: #231f20;
                    color: $white;
                    .fa {
                        color: $red;
                    }
                }
            }
        }
    }
    &-pin {
        &-board {
            background-color: $bg;
            border-left: 1px solid #ddd;
        }
    }
}
.modal {
    &-detail {
        overflow: auto;
        padding: 30px 0;
        .modal-box {
            margin-top: 10px;
            text-align: left;
            @include boxshadow(0 2px 5px rgba(0, 0, 0, 0.35));
            &-header {
                padding: 10px 15px;
                @include flex;
                @include justify-content(space-between);
                @include align-items(center);
                background-color: $white;
                color: $black;
                &.sea {
                    color: $white;
                    background-color: $sea !important;
                    .modal-box-header-badges ul li a,
                    .modal-box-header-badges ul li a .fa {
                        color: $white;
                    }
                }
                &-title {
                    font-size: 30px;
                }
                &-badges {
                    ul {
                        @include reset-list;
                        @include flex;
                        @include justify-content(flex-end);
                        @include align-items(center);
                        li {
                            & + li {
                                margin-left: 10px;
                            }
                            a {
                                color: $gray;
                                font-size: 18px;
                                .fa {
                                    color: $sea;
                                }
                            }
                        }
                    }
                }
            }
            &-img {
                background-color: #eee;
                text-align: center;
                img {
                    height: auto;
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            &-comments,
            &-addComment {
                background-color: $white;
                border-bottom: 1px solid rgba($black, 0.2);
                border-top: 1px solid rgba($black, 0.2);
                padding: 15px;
                &-toggle {
                    margin-top: 15px;
                    display: none;
                }
                .btn.btn-unstyle {
                    margin: 25px 0 10px 55px;
                }
                .media {
                    &-left {
                        a {
                            display: block;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                    &-heading {
                        color: $black;
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        a {
                            color: $black;
                        }
                    }
                    &-body {
                        p {
                            margin-bottom: 0;
                            line-height: 1;
                            color: #666;
                        }
                    }
                }
            }
            &-addComment {
                border: none;
                padding-bottom: 60px;
                .media {
                    margin-top: 0;
                    margin-bottom: 15px;
                    h2 {
                        margin: 0;
                    }
                }
            }
        }
        .modal-wishboard {
            padding: 15px;
            background-color: $white;
            .media {
                &-left {
                    a {
                        display: block;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
                &-heading {
                    color: $gray;
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 0;
                    line-height: 1;
                    a {
                        color: #666;
                        font-weight: 400;
                    }
                }
            }
            &-masonry {
                height: 424px !important;
                overflow-y: auto;
                width: 100% !important;
                margin-top: 15px;
                margin-left: -2px;
                margin-right: -2px;
            }
            &-item {
                margin-bottom: 4px;
                overflow: hidden;
                padding: 0 2px;
                a {
                    width: 100%;
                    opacity: .55;
                    overflow: hidden;
                    display: block;
                    @include transition(opacity .5s);
                    &:hover {
                        opacity: 1;
                    }
                    img {
                        border-radius: 3px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &-btn {
                padding-top: 20px;
                padding-bottom: 5px;
            }
            &-list {
                margin-top: 10px;
                &-img {
                    width: 100%;
                    height: 100px;
                }
                &-title {
                    padding: 2px 10px;
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
    &-grid {
        margin: 10px 0;
        // width: 1150px !important;
    }
}
.form {
    &-group {
        position: relative;
        &-1 {
            overflow: hidden;
        	padding-top: 20px;
        }
        &.input--filled {
            .form-control-1 {
                cursor: text;
            	opacity: 1;
            	-webkit-transition: opacity 0s 0.4s;
            	transition: opacity 0s 0.4s;
            }
            .form-label::before {
                -webkit-transition-delay: 0.05s;
            	transition-delay: 0.05s;
            	-webkit-transform: translate3d(0, -44px, 0);
            	transform: translate3d(0, -44px, 0);
            }
            .form-label-content {
                color: #6B6E6E;
            	-webkit-transform: translate3d(0, -35px, 0) scale3d(0.81, 0.81, 1);
            	transform: translate3d(0, -35px, 0) scale3d(0.81, 0.81, 1);
            }
        }
    }
}
.checkbox {
    margin: 20px 0;
    input[type="checkbox"] {
        display: none;
    }
    label {
        position: relative;
        padding-left: 27px;
        display: inline-block;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            display: inline-block;
            font: normal normal normal 10px/1 FontAwesome;
            font-size: 10px;
            color: $white;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: $transparent;
            border: 2px solid #231f20;
            border-radius: 2px;
            position: absolute;
            left: 5px;
            top: 50%;
            @include transform(translateY(-50%));
            @include transition(all 0.3s);
        }
    }
    input[type="checkbox"]:checked + label:before {
        content: '\f00c';
        background-color: #231f20;
    }
}
.currency {
    position: absolute;
    background-color: #231f20;
    width: 24px;
    height: 14px;
    border-radius: 7px;
    display: block;
    color: $white;
    font-size: 10px;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    &-idr {
        &:after {
            content: 'IDR';
        }
    }
}
.header {
    padding-top: 45px;
    &-box {
        @include flex;
        @include justify-content(space-between);
        height: 60px;
        &-menu {
            align-self: flex-end;
            & > ul {
                @include reset-list;
                @include flex;
                & > li + li {
                    margin-left: 15px;
                }
                & > li {
                    & > .dropdown-language {
                        ul.dropdown-menu {
                            left: inherit;
                            right: 7px;
                            @include transform(translateX(50%));
                        }
                    }
                    & > .dropdown-currency {
                        ul.dropdown-menu {
                            left: inherit;
                            right: 12px;
                            @include transform(translateX(50%));
                        }
                    }
                    & > .dropdown.open a.dropdown-toggle {
                        color: #999;
                    }
                    & > a,
                    & a.dropdown-toggle {
                        color: #333;
                        text-decoration: none !important;
                        font-family: $helveCond;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 14px;
                        &:hover {
                            color: $red;
                        }
                        .flag-icon {
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border: 1px solid #000;
                            background-size: cover;
                            position: relative;
                            top: 1px;
                        }
                    }
                    a#currency {padding-right: 30px;display: inline-block;}
                }
                ul.dropdown-menu {
                    padding: 0;
                    border-radius: 5px;
                    border: 1px solid $black;
                    background-color: #fff;
                    margin-top: 15px;
                    min-width: 120px;
                    @include boxshadow(0 5px 10px rgba($black, 0.25));
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-bottom: 10px solid #fff;
                        border-left: 8px solid $transparent;
                        border-right: 8px solid $transparent;
                        top: -10px;
                        left: 50%;
                        @include transform(translateX(-50%));
                    }
                    &:before {
                        border-bottom: 11px solid #000;
                        border-left: 9px solid $transparent;
                        border-right: 9px solid $transparent;
                        top: -11px;
                    }
                    li {
                        &:first-child > a {
                            border-top-left-radius: 6px;
                            border-top-right-radius: 6px;
                        }
                        &:last-child > a {
                            border-bottom-left-radius: 6px;
                            border-bottom-right-radius: 6px;
                        }
                        a {
                            padding: 10px 15px;
                            color: $black;
                            font-family: $helveCond;
                            font-weight: normal;
                            &:hover {
                                background-color: rgba($black, 0.1);
                            }
                            span.flag-icon {
                                position: relative;
                                top: 1px;
                                margin-right: 5px;
                                width: 16px;
                                height: 16px;
                                border: 1px solid $black;
                                border-radius: 50%;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
        &-logo {
            a {
                display: block;
                width: 150px;
                margin: auto;
            }
            img {
                width: 100%;
            }
        }
        &-user {
            align-self: flex-end;
            @include flex;
            .dropdown {display: inline-block;}
            .dropdown-menu.dropdown-menu-right {
                top: initial;
                bottom: 74%;
                border-color: #ccc;
                min-width: 110px;
                right: 100%;
                margin-right: 10px;
                border-radius: 0;
                padding: 0;
                @include boxshadow(none);
                &:after {
                    content: '';
                    position: absolute;
                    border-top: 13px solid #fff;
                    border-left: 13px solid transparent;
                    right: 10px;
                    bottom: -13px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    border-top: 14px solid #ccc;
                    border-left: 14px solid transparent;
                    right: 9px;
                    bottom: -15px;
                }
                li {
                    a {
                        padding: 3px 10px;
                        font-size: 13px;
                    }
                }
                li + li {
                    border-top: 1px solid #ccc;
                }
            }
            .header-login {
                @include flex;
                @include justify-content(center);
                @include align-items(flex-end);
                ul {
                    @include reset-list;
                    @include flex;
                    @include justify-content(center);
                    @include align-items(center);
                    li + li {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    &-loggedin {
        & > ul {
            @include reset-list;
            @include flex;
            justify-content: flex-end;
            align-items: flex-end;
            & > li + li {
                margin-left: 5px;
            }
            li:first-child {
                font-family: $helveCond;
                font-weight: bold;
                font-size: 14px;
                color: $black;
            }
            li {
                .dropdown {
                    .dropdown-toggle {
                        border: 1px solid $black;
                        border-radius: 50%;
                        display: block;
                        width: 25px;
                        height: 25px;
                        color: $black;
                        background-color: $white;
                        padding: 0;
                        text-align: center;
                        line-height: 26px;
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                    &.open {
                        .dropdown-toggle {
                            background-color: $black;
                            color: $white;
                        }
                    }
                    ul.dropdown-menu {
                        padding: 0;
                        border-radius: 5px;
                        border: 1px solid $black;
                        background-color: #fff;
                        margin-top: 15px;
                        left: 50%;
                        min-width: 212px;
                        @include boxshadow(0 5px 10px rgba($black, 0.25));
                        @include transform(translateX(-50%));
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-bottom: 10px solid #fff;
                            border-left: 8px solid $transparent;
                            border-right: 8px solid $transparent;
                            top: -10px;
                            left: 50%;
                            @include transform(translateX(-50%));
                        }
                        &:before {
                            border-bottom: 11px solid #000;
                            border-left: 9px solid $transparent;
                            border-right: 9px solid $transparent;
                            top: -11px;
                        }
                        li {
                            &:first-child > .media {
                                border-top-right-radius: 6px ;
                                border-top-left-radius: 6px ;
                            }
                            &:last-child > .media {
                                border-bottom-left-radius: 6px;
                                border-bottom-right-radius: 6px;
                            }
                            button.media {
                                background-color: $transparent;
                                border: none;
                                padding: 10px;
                                outline: none !important;
                                &:hover {
                                    background-color: rgba($black, 0.1);
                                }
                                .media-left {
                                    a {
                                        width: 36px;
                                        height: 36px;
                                        border-radius: 50%;
                                        display: block;
                                        overflow: hidden;
                                    }
                                }
                                .media-body {
                                    text-align: left;
                                    a {
                                        font-family: $myriad;
                                        font-size: 12px;
                                        color: #4d4d4d;
                                        font-weight: normal;
                                        &:hover {
                                            color: $red;
                                        }
                                    }
                                    .media-wishboard {
                                        font-family: $helve;
                                        font-size: 12px;
                                        color: #4d4d4d;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.user-menu {
    background-color: $transparent;
    border:none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 55px;
    &-male {
        background-image: url('../images/user-male.png');
    }
    &-female {
        background-image: url('../images/user-female.png');
    }
}
.innerContent {
    padding: 10px 0;
}
.grid {
    width: 100% !important;
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        border-radius: 5px;
        @include transition(all .3s);
        &:hover {
            background-color: $white;
        }
        &-btn {
            @include transition(all .3s);
        }
        &:hover &-btn {
            opacity: .5;
        }
        &-action {
            @include reset-list;
            position: absolute;
            width: calc(100% - 30px);
            justify-content: space-between;
            top: 15px;
            right: 15px;
            visibility: hidden;
            opacity: 0;
            @include flex;
            @include transition(all .5s);
            li {
                .btn {
                    outline: none !important;
                    width: 34px;
                    position: relative;
                    height: 34px;
                    padding: 0;
                    font-size: 16px;
                    line-height: 34px;
                    border-radius: 50%;
                    text-align: center;
                    border: 1px solid $black;
                    background-color: rgba($white,0.9);
                    color: $black;
                    @include transition(all .3s);
                    &:hover {
                        background-color: $black;
                        color: $white;
                    }
                    i[class^="maw-"],
                    i[class*="maw-"] {
                        &:before {
                            line-height: 34px;
                        }
                    }
                }
                button.btn {
                    margin-right: 5px;
                }
            }
            li + li {
                margin-left: 5px;
            }
        }
        &:hover &-action,
        &-action.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-item {
        margin-bottom: 24px;
    }
}
.rect {
    &-box {
        position: relative;
        @include flex;
        flex-direction: column;
        flex-wrap: nowrap;
        @include justify-content(space-between);
        height: calc(42vw / 2 - 5px);
        @media screen and (min-width: 1200px) {
            height: 282px;
        }
        .grid-img {
            width: 100%;
            height: calc(42vw / 2 - 106px);
            @media screen and (min-width: 1200px) {
                height: 181px;
            }
            &-file {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-desc {
            &-top {
                padding: 3px 15px;
                color: $white;
                @include flex;
                flex-wrap: nowrap;
                flex-direction: row;
                @include justify-content(space-between);
                @include align-items(center);
                &-text {

                }
                &-name {
                    font-size: 14px;
                    font-weight: 700;
                }
                &-from {
                    font-size: 12px;
                    font-weight: 400;
                }
                &-badges {
                    ul {
                        @include reset-list;
                        @include flex;
                        @include justify-content(flex-end);
                        li + li {
                            margin-left: 10px;
                        }
                    }
                }
            }
            &-bottom {
                padding: 7px 15px;
                .media {
                    &-left {
                        a {
                            display: block;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    &-heading {
                        margin: 0;
                        a {
                            font-size: 16px;
                            margin: 0;
                            color: #939598;
                            line-height: 1;
                        }
                    }
                    &-body {
                        p {
                            font-weight: 700;
                            color: #6d6e71;
                            margin-bottom: 0;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        &-auto {
            display: block;
            height: auto !important;
            & > .grid-img {
                height: auto !important;
                object-fit: none;
            }
        }
    }
    &-user {
        height: 100%;
        @include flex;
        @include justify-content(center);
        @include align-items(center);
        &.dark {
            color: $white;
        }
        &-big {
            align-self: center;
        }
        &56 {
            font-size: 56px;
            font-weight: 700;
            letter-spacing: -0.025em;
        }
        &28 {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 24px;
        }
        &52 {
            font-size: 52px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 48px;
        }
        &24 {
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 20px;
        }
    }
}
.big {
    &-box {
        position: relative;
        @include flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 42vw;
        border-radius: 5px;
        overflow: hidden;
        @include justify-content(space-between);
        @media screen and (min-width: 1200px) {
            height: 574px;
        }
        .grid-img {
            width: 100%;
            height: 42vw;
            @media screen and (min-width: 1200px) {
                height: 574px;
            }
            &-file {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                overflow: hidden;
                object-fit: cover;
                object-position: center;
            }
        }
        &-desc {
            height: 82px;
            padding: 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($white, 0.9);
            @include flex;
            flex-direction: column;
            @include justify-content(space-around);
            flex-wrap: nowrap;
            &-title {
                color: #4d4d4d;
                font-size: 24px;
                font-family: $myriad;
                line-height: 1.1;
            }
            &-price {
                color: #4d4d4d;
                font-size: 24px;
                font-weight: bold;
                font-family: $helve;
                line-height: 1.1;
            }
        }
        .bigBadge {
            top: -25%;
            left: 0;
            @include transform(rotate(-45deg) translate(-50%, -50%));
        }
        &-auto {
            display: block;
            height: auto !important;
            & > .grid-img {
                height: auto;
                object-fit: none;
            }
        }
    }
    &-user {
        margin: 0 -5px;
        @include flex;
        flex-direction: row;
        flex-wrap: wrap;
        & > section,
        & > div {
            flex-basis: 50%;
            margin-top: 10px;
            height: calc(42vw / 2 - 5px);
            @media screen and (min-width: 1200px) {
                height: 282px;
            }
            .rect-box {
                @include justify-content(center);
                &.dark {
                    color: $white;
                }
            }
        }
        &-big {
            align-self: center;
            &56 {
                font-size: 56px;
                font-weight: 700;
                letter-spacing: -0.025em;
            }
            &28 {
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 24px;
            }
            &52 {
                font-size: 52px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 48px;
            }
            &24 {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 20px;
            }
        }
        .grid-img {
            height: 100%;
        }
        .rect-box .grid-img {
            height: calc(42vw / 2 - 106px);
            @media screen and (min-width: 1200px) {
                height: 181px;
            }
        }
        & > section:first-child,
        & > section:nth-child(2),
        & > div:first-child,
        & > div:nth-child(2) {
            margin-top: 0;
        }
        &-avatar {
            position: relative;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-detail {
            @include flex;
            flex-direction: column;
            flex-wrap: nowrap;
            @include justify-content(center);
            .rect-box {
                @include justify-content(center);
                padding: 15px 30px;
            }
            &-name {
                font-size: 50px;
                font-weight: 700;
                line-height: 46px;
                margin-bottom: 30px;
                text-align: left;
            }
            &-location {
                font-size: 21px;
                color: #939597;
                text-align: left;
            }
        }
        &-notif {
            .rect-box {
                @include justify-content(flex-end !important);
                flex-direction: column;
                @include align-items(flex-start);
                padding: 0 0 30px 30px;
                .btn-1 {
                    align-self: flex-end;
                    margin-right: 30px;
                    margin-bottom: 15px;
                    font-weight: 400;
                }
                ul {
                    @include reset-list;
                    @include flex;
                    @include justify-content(space-between);
                    width: 100%;
                    li {
                        a {
                            position: relative;
                            font-size: 20px;
                            color: $dark;
                            .badge {
                                position: absolute;
                                width: 35px;
                                height: 30px;
                                top: -40px;
                                left: 0;
                                border-radius: 0;
                                &-baloon {
                                    background-color: $blue;
                                    @include flex;
                                    @include justify-content(center);
                                    @include align-items(center);
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        top: 30px;
                                        left: 8px;
                                        border-top: 10px solid #3fc4f2;
                                        border-right: 7px solid transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.portrait {
    &-box {
        @extend .rect-box;
        height: 42vw;
        @media screen and (min-width: 1200px) {
            height: 574px;
        }
        .grid-img {
            width: 100%;
            height: calc(42vw - 101px);
            @media screen and (min-width: 1200px) {
                height: 473px;
            }
            &-file {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-desc {
            &-top {
                @extend .rect-box-desc-top;
                &-name {
                    font-size: 14px;
                    font-weight: 700;
                }
                &-from {
                    font-size: 12px;
                    font-weight: 400;
                }
                &-badges {
                    ul {
                        @include reset-list;
                        @include flex;
                        @include justify-content(flex-end);
                    }
                }
            }
            &-bottom {
                padding: 7px 15px;
                .media {
                    &-left {
                        a {
                            display: block;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    &-heading {
                        margin: 0;
                        a {
                            font-size: 16px;
                            margin: 0;
                            color: #939598;
                            line-height: 1;
                        }
                    }
                    &-body {
                        p {
                            font-weight: 700;
                            color: #6d6e71;
                            margin-bottom: 0;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        &-auto {
            display: block;
            height: auto !important;
            & > .grid-img {
                height: auto;
                object-fit: none;
            }
        }
    }
}
.bigBadge {
    width: 100%;
    position: absolute;
    text-align: center;
    @include flex;
    @include justify-content(center);
    @include align-items(center);
    & > span {
        font-size: 24px;
        font-family: $helve;
        font-weight: bold;
        position: relative;
        z-index: 2;
        line-height: 45px;
    }
    &-green {
        background-color: $green;
        color: $white;
    }
    &-red {
        background-color: $red;
        color: $white;
    }
}
.stucked {
    &-box {
        position: relative;
        display: block;
        text-align: left;
        border-radius: 5px;
        .grid-img {
            width: 100%;
            &-file {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
                object-position: center;
            }
        }
        &-desc {
            position: relative;
            z-index: 10;
            &-top {
                padding: 3px 15px;
                color: $white;
                @include flex;
                flex-wrap: nowrap;
                flex-direction: row;
                @include justify-content(space-between);
                @include align-items(center);
                position: absolute;
                height: 37px;
                width: 100%;
                bottom: 100%;
                border-radius: 0 0 5px 5px;
                &.white {
                    background-color: rgba($white, 0.8);
                    justify-content: flex-end;
                    .stucked-box-desc-top-badges ul li, .stucked-box-desc-top-badges ul li>a {
                        color: #4d4d4d;
                    }
                    .stucked-box-desc-top-badges ul li:last-child i[class^="maw-"], .stucked-box-desc-top-badges ul li:last-child>a i[class^="maw-"] {
                        border-color: #4d4d4d;
                    }
                }
                &.black {
                    background-color: rgba($black, 0.65);
                }
                &.red {
                    background-color: rgba($red, 0.65);
                }
                &.blue {
                    background-color: rgba($blue, 0.65);
                }
                &.pink {
                    background-color: rgba($pink, 0.65);
                }
                &.lime {
                    background-color: rgba($lime, 0.65);
                }
                &.sea {
                    background-color: rgba($sea, 0.65);
                }
                &.orange {
                    background-color: rgba($orange, 0.65);
                }
                &.gray {
                    background-color: rgba($gray, 0.65);
                }
                &.dark {
                    background-color: rgba($dark, 0.65);
                }
                &-text {

                }
                &-name {
                    font-size: 12px;
                    font-weight: bold;
                    font-family: $helve;
                }
                &-from {
                    font-size: 12px;
                    font-weight: 400;
                }
                &-badges {
                    ul {
                        @include reset-list;
                        @include flex;
                        @include justify-content(flex-end);
                        li + li {
                            margin-left: 10px;
                        }
                        li, li > a {
                            font-family: $myriad;
                            font-size: 10px;
                            color: $white;
                            i[class^="maw-"] {
                                font-size: 10px;
                                position: relative;
                                top: 1px;
                                margin-right: 2px;
                            }
                        }
                        li:last-child, li:last-child > a {
                            i[class^="maw-"] {
                                border: 1px solid #fff;
                                width: 12px;
                                height: 12px;
                                padding: 0;
                                line-height: 12px;
                                font-size: 8px;
                                border-radius: 50%;
                                display: inline-block;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            &-bottom {
                padding: 10px;
                .media {
                    &-left {
                        a {
                            display: block;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    &-heading {
                        margin: 0;
                        font-size: 12px;
                        a {
                            font-size: 12px;
                            margin: 0;
                            color: #4d4d4d;
                            font-family: $myriad;
                        }
                    }
                    &-body {
                        p {
                            font-weight: bold;
                            font-size: 12px;
                            color: #4d4d4d;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.btn {
    &-1 {
        background-color: $transparent;
        color: $black;
        padding: 0;
        font-size: 30px;
        height: auto;
        line-height: 1;
        outline: none !important;
        &:hover {
            color: lighten($black, 45%);
        }
    }
    &-2 {
        border-radius: 0;
        background-color: #666;
        color: #ccc;
        padding: 5px 25px;
        font-size: 14px;
        font-weight: 600;
    }
    &-3 {
        padding: 0;
        width: 60px;
        display: inline-block;
        height: 60px;
        text-align: center;
        overflow: hidden;
        position: relative;
        background-color: $transparent;
        border: 1px solid $black;
        font-size: 12px;
        font-family: $helve;
        font-weight: bold;
        outline: none !important;
        border-radius: 50%;
        &-sm {
            width: 40px;
            height: 40px;
        }
        &-xs {
            width: 28px;
            height: 28px;
            i[class^="maw-"],
            i[class*="maw-"] {
                font-size: 16px;
                line-height: 28px;
                color: #231f20;
            }
            &:hover {
                i[class^="maw-"],
                i[class*="maw-"] {
                    color: $white;
                }
            }
        }
        @include transition(all 0.3s);
        &:hover {
            background-color: #231f20;
            border-color: #231f20;
            color: $white;
        }
    }
    &-unstyle {
        background: $transparent;
        padding: 0;
        border: none;
        outline: none !important;
        color: #666;
    }
}
textarea.form-control {
    background-color: #e5e5e5;
    color: $black;
    border: none;
    border-radius: 0;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    @include boxshadow(none);
    &:focus {
        outline: none;
        @include boxshadow(none);
    }
}
.media-left.media-middle.objectfit-cover a {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 45px;
    height: 45px;
}
.radio-wishboard {
    @include flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    flex-wrap: wrap;
    .btn-wishboard {
        display: block;
        flex-basis: 50%;
        padding: 0;
        border-radius: 0;
        position: relative;
        div[class^="objectfit-container"] {
            height: 130px;
        }
        &-label {
            padding: 10px;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 48px;
            opacity: .8;
            @include justify-content(center);
            @include align-items(center);
            outline: none !important;
            @include flex;
            @include transition(height 0.3s);
            input[type="radio"] {
                display: none;
                outline: none !important;
            }
            span {
                color: $white;
                line-height: 1;
                font-size: 14px;
                display: block;
                white-space: normal;
                .fa {
                    display: none;
                    text-align: center;
                    font-size: 30px;
                    color: $white;
                    margin-bottom: 15px;
                }
            }
        }
        &.active {
            .btn-wishboard-label {
                height: 100%;
                span {
                    .fa {
                        display: block;
                    }
                }
            }
        }
    }
}
.popover {
    max-width: 250px;
    min-width: 250px;
    width: 250px;
    &-body {
        max-height: 335px;
        position: relative;
    }
}
.sb-search {
    position: relative;
	width: 0%;
	min-width: 20px;
	height: 20px;
	float: left;
	overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    @include transition(width 0.3s);
    &-input {
        position: absolute;
    	top: 0;
    	right: 0;
    	border: none;
    	outline: none;
    	background: #fff;
    	width: 100%;
    	height: 20px;
    	margin: 0;
    	z-index: 10;
    	padding: 3px 25px 0px 3px;
    	font-family: inherit;
    	font-size: 14px;
    	color: #2c3e50;
        border-bottom: 1px solid #000;
        -webkit-appearance: none;
    	-webkit-border-radius: 0px;
    }
    .sb-icon-search,
    .sb-search-submit  {
    	width: 20px;
    	height: 20px;
    	display: block;
    	position: absolute;
    	right: 0;
    	top: 0;
    	padding: 0;
    	margin: 0;
    	line-height: 20px !important;
    	text-align: center;
    	cursor: pointer;
    }
    .sb-search-submit {
    	background: #fff; /* IE needs this */
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
        filter: alpha(opacity=0); /* IE 5-7 */
        opacity: 0;
    	color: transparent;
    	border: none;
    	outline: none;
    	z-index: -1;
    }
    .sb-icon-search {
    	color: #000;
    	background: #fff;
    	z-index: 90;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .sb-icon-search:before {
    	content: "\f002";
    }
}
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 300px;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
.sb-search.sb-search-open .sb-icon-search {
    border-bottom: 1px solid #000;
}
.side-menu {
    position: fixed;
    right: 30px;
    bottom: 30px;
    ul {
        @include reset-list;
        li + li {
            margin-top: 5px;
        }
        button {
            display: block;
            border: 1px solid $black;
            border-radius: 50%;
            background-color: $transparent;
            padding: 0;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 44px;
            font-size: 22px;
            outline: none !important;
            &:hover {
                background-color: $black;
                color: $white;
            }
            &#gotop {
                opacity: 0;
                margin-top: -45px;
                visibility: hidden;
                @include transition(all 0.3s);
                &:hover i[class="maw-arrow-up-o"]:before {
                    content: '\73';
                }
            }
        }
    }
    &-quick {
        position: relative;
        &-btn {
            position: relative;
            z-index: 2;
        }
        &-menu {
            position: absolute;
            bottom: 40px;
            padding-bottom: 5px !important;
            visibility: hidden;
            opacity: 0;
            left: 50%;
            @include transform(translateX(-50%));
            @include transition(visibility 0.2s 0.6s, opacity 0.2s 0.3s);
            z-index: 1;
            li {
                .side-menu-quick-drop {
                    width: 50px;
                    height: 50px;
                    font-size: 26px;
                    line-height: 55px;
                }
            }
            li:first-child {
                margin-bottom: -55px;
                @include transition(margin-bottom 0.3s);
            }
            li:last-child {
                margin-bottom: -45px;
                @include transition(margin-bottom 0.6s);
            }
        }
        &:hover {
            .side-menu-quick-menu {
                visibility: visible;
                opacity: 1;
                @include transition(visibility 0.6s, opacity 0.3s);
                li:first-child {
                    margin-bottom: 0;
                    @include transition(margin-bottom 0.3s);
                }
                li:last-child {
                    margin-bottom: 0;
                    @include transition(margin-bottom 0.6s);
                }
            }
        }
    }
}
.profile {
    &-wishboard {
        padding: 45px 0;
        &-header {
            @include flex;
            justify-content: flex-start;
            align-items: center;
            ul {
                @include reset-list;
                @include flex;
            }
        }
        &-body {
            margin-top: 63px;
            padding: 30px 0;
            & > ul {
                @include reset-list;
                @include flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                & > li {
                    flex: 0 0 180px;
                    margin-left: 140px;
                    margin-bottom: 15px;
                    text-align: center;
                    &:nth-child(4n+1) {
                        margin-left: 0;
                    }
                    a {
                        display: inline-block;
                        text-decoration: none !important;
                        text-align: center;
                    }
                }
            }
        }
        &-tab {
            position: absolute;
            bottom: -110px;
            left: 0;
            ul {
                li + li {
                    margin-left: 15px;
                }
                li {
                    a {
                        @include flex;
                        align-items: center;
                        justify-content: center;
                        width: 63px;
                        height: 63px;
                        color: #b1b1b1;
                        background-color: $transparent;
                        border-radius: 50%;
                        text-align: center;
                        line-height: normal;
                        overflow: hidden;
                        font-size: 14px;
                        font-family: $helve;
                        text-decoration: none !important;
                        @include transition(all 0.2s);
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                    &.active {
                        a {
                            border: 1px solid $black;
                            color: $black;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        &-desc {
            flex-basis: 50%;
            position: relative;
            & > h1 {
                font-family: $helve;
                font-size: 37px;
                font-weight: bold;
                color: #333;
                margin-top: 0;
            }
        }
        &-follow {
            @include flex;
            justify-content: flex-start;
            align-items: center;
            &-box {
                span {
                    display: block;
                    font-family: $helve;
                    font-size: 16px;
                    line-height: 1;
                    &:first-child {
                        color: #333;
                        margin-bottom: 2px;
                    }
                    &:last-child {
                        color: #b1b1b1;
                    }
                }
            }
            &-box + &-box {
                margin-left: 45px;
            }
        }
        &-option {
            flex-basis: 25%;
            ul {
                @include flex;
                justify-content: flex-end;
                align-items: center;
                padding-bottom: 44px;
                li + li {
                    margin-left: 15px;
                }
                li {
                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        color: $black;
                        border: 1px solid $black;
                        background-color: $transparent;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        font-size: 20px;
                        text-decoration: none !important;
                        @include transition(all 0.2s);
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
        &-list {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #333333;
            &-box {
                position: relative;
                @include flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                & > div {
                    flex-basis: calc(100% / 3);
                    width: calc(100% / 3);
                    height: 90px;
                }
                &:hover {
                    .profile-wishboard-list-color {
                        margin-top: 90px;
                    }
                }
            }
            &-color {
                position: absolute;
                width: 100% !important;
                height: 90px;
                left: 0;
                right: 0;
                top: 90px;
                opacity: 0.9;
                margin-top: 0;
                @include transition(margin-top 0.2s);
            }
            &-big {
                flex-basis: 100% !important;
                width: 100% !important;
            }
        }
        &-text {
            font-family: $helve;
            font-size: 18px;
            font-weight: bold;
            padding-top: 5px;
            color: #333;
            text-align: center;
            & >  small {
                display: block;
                font-size: 14px;
                color: #989898;
            }
        }
        &-create {
            &-btn.profile-wishboard-list {
                background-color: $transparent;
                border: 1px solid $black;
                color: $black;
                font-size: 36px;
                justify-content: center;
                align-items: center;
                @include flex;
                @include transition(all 0.2s);
                & > i {
                    position: relative;
                    top: 4px;
                }
            }
            &-text.profile-wishboard-text {
                color: #b1b1b1;
                @include transition(all 0.2s);
            }
            &:hover {
                .profile-wishboard-text.profile-wishboard-create-text {
                    color: #333;
                }
                .profile-wishboard-list.profile-wishboard-create-btn {
                    background-color: $black;
                    color: $white;
                }
            }
        }
        &-inner {
            @include flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
        }
        &-color {
            display: block;
            border-radius: 50%;
            overflow: hidden;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
        &-title {
            font-family: $helve;
            font-size: 22px;
            color: #333;
        }
    }
    &-pict {
        flex-basis: 25%;
        a {
            display: block;
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.popover {
    padding: 0;
    &.bottom {

    }
    &-header {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        .form-group {
            margin-bottom: 0;
            input.form-control {
                @include boxshadow(none !important);
                border-color: #ddd !important;
            }
            & > span {
                position: absolute;
                right: 8px;
                top: 50%;
                @include transform(translateY(-50%));
                i.fa {
                    color: #ddd;
                }
            }
        }
    }
    &-footer {
        padding: 15px;
        border-top: 1px solid #ddd;
        background-color: #f4f4f4;
        border-radius: 0 0 5px 5px;
        .popover-share {
            @include reset-list;
            @include flex;
            justify-content: flex-start;
            align-items: center;
            &-text {
                font-weight: 600;
                color: #404040;
                font-size: 12px;
                margin-bottom: 10px;
            }
            li + li {
                margin-left: 5px;
            }
            li {
                button[class^="share-"] {
                    display: block;
                    width: 32px;
                    height: 32px;
                    border: none;
                    border-radius: 50%;
                }
            }
        }
    }
    .media {
        background-color: $transparent;
        border: none;
        outline: none !important;
        padding: 10px 15px;
        &-left {
            & > span {
                display: block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                overflow: hidden
            }
        }
        &-body {
            padding-left: 5px;
            h4.media-heading {
                text-align: left;
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }
        }
        & + .media {
            border-top: 1px solid #ddd;
            margin-top: 0;
        }
        &:hover {
            background-color: #f4f4f4;
        }
    }
}
.about {
    &-header {
        height: 115px;
        background-color: $white;
    }
    &-content {
        height: calc(100vh - 115px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba($black, 0.25);
        &-box {
            padding-top: 100px;
        }
        &-title {
            color: $white;
            font-family: $helve;
            font-size: 55px;
            font-weight: bold;
            line-height: 66px;
            margin: 0 0 20px;
        }
        &-text {
            font-family: $myriad;
            font-size: 14px;
            color: $white;
            line-height: 20px;
            margin-bottom: 20px;
        }
        &-btn {
            border-color: $white;
            width: 80px;
            height: 80px;
            line-height: 80px;
            color: $white;
        }
    }
    &-box {
        height: 115px;
        justify-content: space-between;
        align-items: center;
        @include flex;
    }
    &-logo {
        a {
            display: block;
            height: 50px;
            img {
                height: 50px;
            }
        }
    }
    &-nav {
        ul {
            @include reset-list;
            @include flex;
            justify-content: flex-end;
            align-items: center;
            li + li {
                margin-left: 30px;
            }
            li {
                a {
                    font-family: $helve;
                    font-size: 14px;
                    color: #b1b1b1;
                    @include transition(all 0.3s);
                    &:hover {
                        color: #4d4d4d;
                    }
                }
                &.active {
                    a {
                        color: #4d4d4d;
                    }
                }
            }
        }
    }
}
